@{
    ViewBag.Title = "Home Page";
}

<div class="">
    <h1>Azure Image Processing</h1>
    <img src="~/Content/img/flow 1.png" style="width: 100%"/>
    
    
    
</div>
<hr/>
<div class="row">
    <div class="col-md-3">
        <h2>Snap</h2>
        <p>
            Take your photos just like you normally do. Snap photos of Jill playing baseball or Johnny graduating from nursing school - whatever you want!
        </p>
    </div>
    <div class="col-md-3">
        <h2>Upload</h2>
        <p>Upload your images to the site. </p>
        <p><a class="btn btn-default" href="~/Upload">Upload</a></p>
    </div>
    <div class="col-md-3">
        <h2>Understand</h2>
        <p>Using the most advanced al-gore-ithms and we'll look at your photos and figure out what's in them.</p>
        <p><a class="btn btn-default" href="https://www.projectoxford.ai/vision">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Match</h2>
        <p>
            Using the power of bing we'll find you images which contain the sames things as yours. 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>