<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true" />
    <add key="VisionAPIKey" value="d2f5d6ad250e4d38b9f58e70d3ee924f" />
  </appSettings>
</configuration>