{
  "network": {
    "servers": [ "elk:5000" ],
    "ssl certificate": "./logstash-forwarder.crt",
    "ssl key": "./logstash-forwarder.key",
    "ssl ca": "./logstash-forwarder.crt",
    "ssl strict verify": false,
    "timeout": 15
  },

  # The list of files configurations
  "files": [
    {
      "paths": [
        "/tmp/testlog.log"
      ],
      "fields": { "type": "syslog" }
    }, {
      # A path of "-" means stdin.
      "paths": [ "-" ],
      "fields": { "type": "stdin" }
    }
  ]
}
