{
  "network": {
    "servers": [ "elk:5000" ],
    "ssl certificate": "./logstash-beats.crt",
    "ssl key": "./logstash-beats.key",
    "ssl ca": "./logstash-beats.crt",
    "ssl strict verify": false,
    "timeout": 15
  },

  # The list of files configurations
  "files": [
    {
      "paths": [
        "c:\temp\test2.log"
      ],
      "fields": { "type": "syslog" }
    } 
  ]
}
